.wrapper {
  background: #f2f2f2;
  border-radius: 6px;
  padding: 10px 50px;
  position: relative;
}

.input {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  outline: none;
  border: none;
  background-color: transparent;
}

.input::placeholder {
  color: #bdbdbd;
}

.search_icon,
.filter_icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}

.filter_icon {
  left: calc(100% - 25px);
}
